@using Microsoft.AspNet.Identity
@if (Session["UserName"]!=null)
{
    
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a><span><b>Dobrodošli @Session["UserName"] </b></span></a>
            </li>
        <li>@Html.ActionLink("Odjavi se", "LogOff", "Account")</li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("Prijavi se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
